<!DOCTYPE html>
<link rel="stylesheet" href="assets\css\style.css">
<html>

<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>

<body>

    <nav>

        <a href="/"> Accueil </a>
        </br>
        <a href="/users"> Liste utilisateurs</a>
    </nav>
    <h1> WELCOME !!! </h1>

    <form method="POST" action="/addUser">

        <label>
            Nom complet:
            <input type="text" name="name" required>
        </label>
        <br>
        <label>
            date de naissance
            <input type="date" name="birthdate" required>
        </label>
        <br>
        <button type="submit">Add User</button>
    </form>

</body>

</html>