<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>

<body>

    <nav>

        <a href="#"> Acceuil </a>
        </br>

        <a href="/users"> liste utilisateur</a>





    </nav>
    <h1> WELCOME !!! </h1>

    <form>
        <label>
            Name:
            <input type="text" name="name" required>
        </label>
        <br>
        <label>
            Birthdate (YYYY-MM-DD):
            <input type="text" name="birthdate" required>
        </label>
        <br>
        <button type="submit">Add User</button>
    </form>




    <a href="/users"> voir les utilisateurs </a>

</body>

</html>