<!DOCTYPE html>
<link rel="stylesheet" href="assets\css\style.css">

<html>

<nav>
    <a href="/"> Accueil </a>
    </br>
    <a href="/users"> Liste utilisateurs</a>
</nav>


<head>
    <meta charset="UTF-8">
    <title>USERS</title>
</head>

<body>
    <h1> Liste des utilisateurs :</h1>
    <ul>
        <% for( const student of students ) { %>
            <li>
                <div>
                    NOM :
                    <%= student.name %>
                </div>

                </br>
                <div>
                    DATE DE NAISSANCE :
                    <%= student.birth%>
                </div>

            </li>
            </br>
            </br>
            <% } %>
    </ul>
</body>

</html>