<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>USERS</title>
</head>

<body>
    <h1> PAGE UTILISATEUR</h1>
    <p>Bienvenue sur notre site d'annonces ! Voici les dernières annonces :</p>



</body>

</html>